<!DOCTYPE html>
<html>
<head>
  <title>User Impersonate</title>
  <%= stylesheet_link_tag    "user_impersonate/application", :media => "all" %>
  <%= javascript_include_tag "user_impersonate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
